/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #f7f5f0;
}
/* Link Styles */

a {
  text-decoration: none;
  color: #005aff;
}
a:hover {
  transition: 0.3s;
  color: #5b03ff;
  text-decoration: underline;
}

/* Section Styles */
.ben-img-unsw {
  border: 1px solid #222;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ben-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

figcaption {
  padding-top: 9px;
  text-align: center;
}
nav {
  width: 100%;
  background: #ffa500;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}
.main-nav-list {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
.main-nav-list .name {
  display: none;
  color: white;
}

.main-nav-list li {
  padding: 5px 10px 10px 10px;
}
.main-nav-list a {
  transition: all .5s;
}

/* .nav a:hover {
  color: rgb(58, 58, 58);
} */

header {
  text-align: center;
  background: url('images/sunrise2.jpg') no-repeat center center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}
header {
  line-height: 1.5;
}
header .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid white;
  transition: all .7s;

}
header .profile-image:hover {
  transform: scale(1.4);
}

.tag {
  background-color: #efefef;
  color: #222;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
} 
.location {
  background-color: #222;
  color: white;
}
section {
  margin: auto;
  padding: 20px 50px 30px;
  max-width: 700px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all 0.9s;
}
section:hover {
  border-color: orange;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #ff9904;
  color: white;
  padding: 5px 12px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #005aff;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  margin-right: 20px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .5;
  transition: all .25s;
}
a.twitter {
  background-image: url(images/twitter.svg);
}
a.linkedin {
  background-image: url(images/linkedin.svg);
}
a.github {
  background-image: url(images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  
  .flex {
      display: flex;
      max-width: 1200px;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 450px;
  }

  .main-nav-list {
    max-width: 1200px;
  }

  .main-nav-list .name {
    display: block;
    margin-right: auto;
    color: white;
  }

  main {
    padding-top: 50px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

}

h3 {
    color: #222;
    letter-spacing: 3px;  
}

.card-title {
    color:#222;
    text-align: center;
    border: 2px outset #0399ff;
    border-radius: 4px;
    margin-top: 10px;
}

.card-title:hover {
  transition: 0.3s;
  color: #5b03ff;
}

.card-title-2 {
  text-align: center;
  letter-spacing: 2px; 
}
 
.card-title-3 {
  text-align: center;
  letter-spacing: 5px; 
}
